.signIn {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
    
    @media screen and (max-width: 800px) {
        width: 90%;
        margin-bottom: 30px;
        padding-bottom: 50px;
        border-bottom: 1px black dashed;

        .buttons {
            flex-wrap: wrap;
        }
    }
}

