.content-box-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .content-box-content {
        width: 50%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 26px;

        .content-box-title {
            text-align: center;
            margin: 10px 0;

            @media screen and (max-width: 800px) {
                margin: 10px 0;
    
            }
        }

        .content-box-description {
            width: 70%
        }

        @media screen and (max-width: 800px) {
            width: 100%;
            height: unset;
            padding: 10px;

        }
    }

    .content-box-image { 
        align-self: center;
        background-size: cover; /* or contain depending on what you want */
        background-position: center center;
        background-repeat: no-repeat;
        width: 40%;
        height: 80vh;
        min-height: 550px;

        @media screen and (max-width: 800px) {
            display: none;
        }
    }

}